*/.db
venv/
build/
dist/
*/.spesc
*/.metadata
*/.venv
*/.build
*/.dist
/.__pycache__
Teste.spec
__pycache__/banco.cpython-311.pyc
__pycache__/customersql.cpython-311.pyc
__pycache__/contactsql.cpython-311.pyc
*.pyc
database.db
Cadastro.spec
*.db
*/.ipynb_checkpoints
*.pdf