*/.db
venv/
build/
dist/
*/.spesc
*/.metadata
*/.venv
*/.build
*/.dist
/.__pycache__
__pycache__/banco.cpython-311.pyc
__pycache__/customersql.cpython-311.pyc
__pycache__/contactsql.cpython-311.pyc
*/__pycache__/banco.cpython-311.pyc
*/__pycache__/customersql.cpython-311.pyc
*/__pycache__/contactsql.cpython-311.pyc
*/.pyc
*/.db
*/.spec
*/.ipynb_checkpoints
*/.zip